<div class="container-fluid p-4">
  <div class="jumbotron">
    <p>PokeApp is a web app that allows the user to check information about pokemons including listing them and checking their details.
      It was developed with the purpose of learning about <b>NgRx</b> and <b>@ngrx/data</b>.
      All information about the Pokemons comes from <a href="https://pokeapi.co/">PokeApi</a>.
      The source code is available <a href="https://github.com/ssotom/angular-pokeapp">here</a>.
    </p>
</div>
</div>
