<div class="container-fluid p-4">
  <input
    class="form-control col-md-4 search"
    type="search"
    placeholder="Search"
    aria-label="Search"
    [(ngModel)]="searchText"
    autocomplete="off"
  />
  <div class="alert alert-danger" role="alert" *ngIf="error">
    {{ error }}
  </div>
  <div class="d-flex flex-wrap justify-content-center mt-2">
    <div
      class="wrapper"
      (click)="openModal(pokemon.id)"
      *ngFor="let pokemon of pokemons | filter: searchText"
    >
      <div class="card text-center shadow">
        <img
          src="{{ pokemon.sprite }}"
          class="card-img-top"
          alt="{{ pokemon.name }}"
        />
        <div class="card-body">
          <h6 class="card-title text-uppercase">{{ pokemon.name }}</h6>
          <img
            class="versus"
            src="favicon.ico"
            alt="VS"
            [hidden]="!comparePokemon"
          />
        </div>
      </div>
    </div>
  </div>

  <button
    class="btn btn-link btn-block btn-lg mt-4"
    type="button"
    (click)="loadMore()"
    [disabled]="isLoading"
  >
    <span
      class="spinner-grow spinner-grow-sm"
      role="status"
      aria-hidden="true"
      [hidden]="!isLoading"
    ></span>
    <span [hidden]="isLoading">Load More</span>
  </button>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <button
          type="button"
          class="close pull-right"
          (click)="closeModal()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0">
        <app-show-pokemon
          *ngIf="!comparePokemon && selectedPokemon"
          [pokemon]="selectedPokemon"
          (comparePokemon)="compareTo()"
        ></app-show-pokemon>

        <app-compare-pokemons
          *ngIf="comparePokemon && selectedPokemon2"
          [pokemon1]="selectedPokemon"
          [pokemon2]="selectedPokemon2"
        ></app-compare-pokemons>

        <div class="d-flex justify-content-center" *ngIf="!selectedPokemon">
          <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="error">
          {{ error }}
        </div>
      </div>
    </div>
  </div>
</div>
