<div class="container-fluid p-4">
  <input
    class="form-control"
    type="search"
    placeholder="Search"
    aria-label="Search"
    [(ngModel)]="searchText"
    [ngModelOptions]="{ standalone: true }"
    autocomplete="off"
  />

  <div class="d-flex flex-wrap justify-content-center mt-2">
    <div
      class="wrapper"
      (click)="openModal(lgModal, pokemon.id)"
      *ngFor="let pokemon of pokemons | filter: searchText"
    >
      <div class="card text-center shadow">
        <img
          src="{{ pokemon.sprite }}"
          class="card-img-top"
          alt="{{ pokemon.name }}"
        />
        <div class="card-body">
          <h6 class="card-title text-uppercase">{{ pokemon.name }}</h6>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isLoading" class="d-flex justify-content-center mt-4">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <button
    type="button"
    (click)="loadMore()"
    class="btn btn-link btn-block btn-lg mt-4"
  >
    Load More
  </button>
</div>

<div
  bsModal
  #lgModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          (click)="lgModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedPokemon">
        <app-show-pokemon [pokemon]="selectedPokemon"></app-show-pokemon>
      </div>
    </div>
  </div>
</div>
